root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
charset = utf-8

[*.json]
indent_style = tab
indent_size = 4

[*.js]
indent_style = tab
indent_size = 4

[*.ts]
indent_style = tab
indent_size = 4

[*.svelte]
indent_style = tab
indent_size = 4